{% extends 'base.html' %}
{% load static %}
{% block content %}

<main style="text-align: center;" class="container py-4">
	<section class="card card-body">
	<h1 class="display-4 text-center">Welcome to the Ticket System </h1>
	<p><h2>
		Please select one of the options below
	</h2></p>

	</section>
</main>
 	<!--div>
		<img src="{% static 'img/Aguila.png' %}" width="100%">
	</div-->

			<div class="action-buttons" style="display: flex;padding: 5px;justify-content: center;align-items: center;">
				<h1><a href="{% url 'offer' %}" class="btn btn-primary" role="button" title="Deals" style="flex: 1; margin-right: 10px;">Offer</a></h1>
				<h1><a href="{% url 'addendum' %}" class="btn btn-secondary" role="button" title="Pending" style="flex: 1; margin-right: 10px;">Addendum</a></h1>
				<h1><a href="{% url 'listing' %}" class="btn btn-success" role="button" title="Closed" style="flex: 1; margin-right: 10px;">Listing</a></h1>
				<h1><a href="{% url 'mlssheet' %}" class="btn btn-info" role="button" title="Deals" style="flex: 1; margin-right: 10px;">MLS Sheet/Attachment</a></h1>
				<h1><a href="{% url 'mlssearch' %}" class="btn btn-warning" role="button" title="Pending" style="flex: 1; margin-right: 10px;">MLS Search</a></h1>
				<h1><a href="{% url 'dotloop' %}" class="btn btn-danger" role="button" title="Closed" style="flex: 1; margin-right: 10px;">Dotloop</a></h1>				
			</div>

{% endblock %}