{% extends 'base.html' %}

{% load static %}

{% block content %}

<table style="width: 100%;border-collapse: collapse;">
	<tr bgcolor="#ADD8E6">
		<th style="border: 1px solid #bbb;padding: 5px;">Address</th>
		<th style="border: 1px solid #bbb;padding: 5px;">Agent</th>
		<th style="border: 1px solid #bbb;padding: 5px;">Inquiry</th>
		<th style="border: 1px solid #bbb;padding: 5px;">Requested</th>
	</tr>
	{% for dotloop in dotloops %}
	<tr>
		<td style="border: 1px solid #bbb; padding: 8px;">
			<a href="{% url 'dotloop details' dotloop.id %}">
				{{dotloop.address}}
			</a>			
		</td>
		<td style="border: 1px solid #bbb;padding: 8px;">
			{{dotloop.agent}}
		</td>
		<td style="border: 1px solid #BBB;padding: 8px;">
			{{dotloop.inquiry}}
		</td>
		<td style="border: 1px solid #BBB;padding: 8px;">
			{{dotloop.requested}}
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}